In [4]:
import pandas as pd
from datetime import datetime

In [5]:
# Sample DataFrame with nulls
data = {
    'customer_id': [1, 2, 3, 4, 5, 1, None],
    'product': ['A', 'B', 'C', 'A', None, 'A', 'C'],
    'quantity': [2, 1, 5, 3, 2, None, 1],
    'price': [10.5, 20.0, 7.5, 10.5, 20.0, 10.5, None],
    'purchase_date': [
        datetime(2025, 4, 1),
        datetime(2025, 4, 2),
        datetime(2025, 4, 2),
        datetime(2025, 4, 3),
        datetime(2025, 4, 4),
        None,
        datetime(2025, 4, 5)
    ],
    'ship_date': [
        datetime(2025, 4, 2),
        datetime(2025, 4, 3),
        datetime(2025, 4, 3),
        datetime(2025, 4, 4),
        datetime(2025, 4, 7),
        datetime(2025, 4, 6),
        None
    ],
    'region': ['North', 'South', 'East', 'North', 'South', 'North', 'East']
}

df = pd.DataFrame(data)

In [10]:
df.head()

   customer_id product  quantity  price purchase_date  ship_date region
0          1.0       A       2.0   10.5    2025-04-01 2025-04-02  North
1          2.0       B       1.0   20.0    2025-04-02 2025-04-03  South
2          3.0       C       5.0    7.5    2025-04-02 2025-04-03   East
3          4.0       A       3.0   10.5    2025-04-03 2025-04-04  North
4          5.0    None       2.0   20.0    2025-04-04 2025-04-07  South

# 1. Group by and sum

In [8]:
# Group by region and sum
df.groupby('region')['quantity'].sum().reset_index()

  region  quantity
0   East       6.0
1  North       5.0
2  South       3.0

# 2. Group by and count

In [9]:
df.groupby('region')['quantity'].count().reset_index()

  region  quantity
0   East         2
1  North         2
2  South         2

# 3. Group by and count unique values

In [13]:
df.groupby('region')['quantity'].nunique().reset_index()

  region  quantity
0   East         2
1  North         2
2  South         2

# 4. Group by with multiple aggregations using .agg()

In [14]:
df.groupby('region').agg({
    'quantity': 'max',
    'price': 'min',
    'purchase_date': 'count'
}).reset_index()

  region  quantity  price  purchase_date
0   East       5.0    7.5              2
1  North       3.0   10.5              2
2  South       2.0   20.0              2