In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# Sample DataFrame with nulls
data = {
    'customer_id': [1, 2, 3, 4, 5, 1, None],
    'product': ['A', 'B', 'C', 'A', None, 'A', 'C'],
    'quantity': [2, 1, 5, 3, 2, None, 1],
    'price': [10.5, 20.0, 7.5, 10.5, 20.0, 10.5, None],
    'purchase_date': [
        datetime(2025, 4, 1),
        datetime(2025, 4, 2),
        datetime(2025, 4, 2),
        datetime(2025, 4, 3),
        datetime(2025, 4, 4),
        None,
        datetime(2025, 4, 5)
    ],
    'ship_date': [
        datetime(2025, 4, 2),
        datetime(2025, 4, 3),
        datetime(2025, 4, 3),
        datetime(2025, 4, 4),
        datetime(2025, 4, 7),
        datetime(2025, 4, 6),
        None
    ],
    'region': ['North', 'South', 'East', 'North', 'South', 'North', 'East']
}

df = pd.DataFrame(data)

In [3]:
df.head()

   customer_id product  quantity  price purchase_date  ship_date region
0          1.0       A       2.0   10.5    2025-04-01 2025-04-02  North
1          2.0       B       1.0   20.0    2025-04-02 2025-04-03  South
2          3.0       C       5.0    7.5    2025-04-02 2025-04-03   East
3          4.0       A       3.0   10.5    2025-04-03 2025-04-04  North
4          5.0    None       2.0   20.0    2025-04-04 2025-04-07  South

# 1. View the first few rows

In [4]:
df.head()

   customer_id product  quantity  price purchase_date  ship_date region
0          1.0       A       2.0   10.5    2025-04-01 2025-04-02  North
1          2.0       B       1.0   20.0    2025-04-02 2025-04-03  South
2          3.0       C       5.0    7.5    2025-04-02 2025-04-03   East
3          4.0       A       3.0   10.5    2025-04-03 2025-04-04  North
4          5.0    None       2.0   20.0    2025-04-04 2025-04-07  South

# 2. View the last few rows

In [5]:
df.tail()

   customer_id product  quantity  price purchase_date  ship_date region
2          3.0       C       5.0    7.5    2025-04-02 2025-04-03   East
3          4.0       A       3.0   10.5    2025-04-03 2025-04-04  North
4          5.0    None       2.0   20.0    2025-04-04 2025-04-07  South
5          1.0       A       NaN   10.5           NaT 2025-04-06  North
6          NaN       C       1.0    NaN    2025-04-05        NaT   East

# 3. View column names

In [6]:
df.columns

Index(['customer_id', 'product', 'quantity', 'price', 'purchase_date',
       'ship_date', 'region'],
      dtype='object')

# 4. Access Single Column

In [7]:
df.customer_id

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    1.0
6    NaN
Name: customer_id, dtype: float64

In [10]:
df['customer_id']

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    1.0
6    NaN
Name: customer_id, dtype: float64

In [9]:
df[['customer_id']]

   customer_id
0          1.0
1          2.0
2          3.0
3          4.0
4          5.0
5          1.0
6          NaN

# 5. Access Multiple Columns

In [11]:
df[['customer_id', 'product']]

   customer_id product
0          1.0       A
1          2.0       B
2          3.0       C
3          4.0       A
4          5.0    None
5          1.0       A
6          NaN       C

# 6. Check data types and non-null counts

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    6 non-null      float64
 1   product        6 non-null      object
 2   quantity       6 non-null      float64
 3   price          6 non-null      float64
 4   purchase_date  6 non-null      datetime64[ns]
 5   ship_date      6 non-null      datetime64[ns]
 6   region         7 non-null      object
dtypes: datetime64[ns](2), float64(3), object(2)
memory usage: 524.0+ bytes