In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# Sample DataFrame with nulls
data = {
    'customer_id': [1, 2, 3, 4, 5, 1, None],
    'product': ['A', 'B', 'C', 'A', None, 'A', 'C'],
    'quantity': [2, 1, 5, 3, 2, None, 1],
    'price': [10.5, 20.0, 7.5, 10.5, 20.0, 10.5, None],
    'purchase_date': [
        '2025-04-01',
        '2025-04-02', 
        '2025-04-02',
        '2025-04-03',
        '2025-04-04',
        None,
        '2025-04-05'
    ],
    'ship_date': [
        datetime(2025, 4, 2),
        datetime(2025, 4, 3),
        datetime(2025, 4, 3),
        datetime(2025, 4, 4),
        datetime(2025, 4, 7),
        datetime(2025, 4, 6),
        None
    ],
    'region': ['North', 'South', 'East', 'North', 'South', 'North', 'East']
}

df = pd.DataFrame(data)

# 1. Create a timestamp

In [3]:
pd.Timestamp('2025-04-01')

Timestamp('2025-04-01 00:00:00')

# 2. Create a time delta

In [4]:
pd.Timedelta(days=30)

Timedelta('30 days 00:00:00')

# 3. Convert a column to datetime

In [7]:
df['purchase_date'] = pd.to_datetime(df['purchase_date'])
df['purchase_date']

0   2025-04-01
1   2025-04-02
2   2025-04-02
3   2025-04-03
4   2025-04-04
5          NaT
6   2025-04-05
Name: purchase_date, dtype: datetime64[ns]

# 4. Extract day from datetime

In [10]:
df['date_of_purchase'] = df['purchase_date'].dt.day
df['date_of_purchase']

0    1.0
1    2.0
2    2.0
3    3.0
4    4.0
5    NaN
6    5.0
Name: date_of_purchase, dtype: float64

# 5. Convert datetime to monthly period

In [15]:
df['month_of_purchase'] = df['purchase_date'].dt.to_period('M')
df['month_of_purchase']

0    2025-04
1    2025-04
2    2025-04
3    2025-04
4    2025-04
5        NaT
6    2025-04
Name: month_of_purchase, dtype: period[M]

# 6. Calculate time difference in seconds

In [16]:
(df['ship_date'] - df['purchase_date']).dt.total_seconds()

0     86400.0
1     86400.0
2     86400.0
3     86400.0
4    259200.0
5         NaN
6         NaN
dtype: float64