In [6]:
import pandas as pd
from datetime import datetime

In [7]:
# Sample DataFrame with nulls
data = {
    'customer_id': [1, 2, 3, 4, 5, 1, None],
    'product': ['A', 'B', 'C', 'A', None, 'A', 'C'],
    'quantity': [2, 1, 5, 3, 2, None, 1],
    'price': [10.5, 20.0, 7.5, 10.5, 20.0, 10.5, None],
    'purchase_date': [
        '2025-04-01',
        '2025-04-02', 
        '2025-04-02',
        '2025-04-03',
        '2025-04-04',
        None,
        '2025-04-05'
    ],
    'ship_date': [
        datetime(2025, 4, 2),
        datetime(2025, 4, 3),
        datetime(2025, 4, 3),
        datetime(2025, 4, 4),
        datetime(2025, 4, 7),
        datetime(2025, 4, 6),
        None
    ],
    'region': ['North', 'South', 'East', 'North', 'South', 'North', 'East']
}

df = pd.DataFrame(data)

# 1. Check for null values

In [9]:
df['purchase_date'].isnull()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
Name: purchase_date, dtype: bool

In [10]:
df['purchase_date'].isna()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
Name: purchase_date, dtype: bool

# 2. Filter rows with null values

In [11]:
df[df['purchase_date'].isnull()]

   customer_id product  quantity  price purchase_date  ship_date region
5          1.0       A       NaN   10.5          None 2025-04-06  North